@page
@model HelpDesk.Pages.Tickets.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ticket-@Model.Ticket.TicketId</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Ticket.TicketId" />
                    <div class="form-group">
                        <label class="control-label">Descripción</label>
                        <textarea asp-for="Ticket.Description" class="form-control" > </textarea>
                        <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reportado por</label>
                        <label class="form-control">@Model.GetUserName(Model.Ticket.ReportedBy)</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Asignado A</label>
                        <select asp-for="Ticket.AssignedTo" class="form-control" asp-items="ViewBag.UserId"></select>
                        <span asp-validation-for="Ticket.AssignedTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Prioridad</label>
                        <select asp-for="Ticket.PriorityId" class="form-control" asp-items="ViewBag.PriorityId"></select>
                        <span asp-validation-for="Ticket.PriorityId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Categoría</label>
                        <select asp-for="Ticket.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        <span asp-validation-for="Ticket.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <select asp-for="Ticket.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                        <span asp-validation-for="Ticket.StatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">Regreso a la lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
